Source: ros-jazzy-rmf-traffic-ros2
Section: misc
Priority: optional
Maintainer: Grey <grey@openrobotics.org>
Build-Depends: debhelper (>= 9.0.0), ament-cmake, ament-cmake-uncrustify <!nocheck>, libeigen3-dev, libproj-dev, libyaml-cpp-dev, nlohmann-json3-dev, ros-jazzy-ament-cmake-catch2 <!nocheck>, ros-jazzy-backward-ros, ros-jazzy-rclcpp, ros-jazzy-rmf-building-map-msgs, ros-jazzy-rmf-fleet-msgs, ros-jazzy-rmf-site-map-msgs, ros-jazzy-rmf-traffic, ros-jazzy-rmf-traffic-msgs, ros-jazzy-rmf-utils, uuid-dev, zlib1g-dev, ros-jazzy-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-jazzy-rmf-traffic-ros2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libproj-dev, libyaml-cpp-dev, nlohmann-json3-dev, ros-jazzy-backward-ros, ros-jazzy-rclcpp, ros-jazzy-rmf-building-map-msgs, ros-jazzy-rmf-fleet-msgs, ros-jazzy-rmf-site-map-msgs, ros-jazzy-rmf-traffic, ros-jazzy-rmf-traffic-msgs, ros-jazzy-rmf-utils, uuid-dev, zlib1g-dev, ros-jazzy-ros-workspace
Description: A package containing messages used by the RMF traffic management system.
